h1{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    border-color: black;
    border-top: black;
    outline-color: azure;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    background-color: black;
    text-align: center;
}
body{
    background-color:whitesmoke;
}
h2{
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    text-align: center;
}
div{
    width: 1090px;
    border: 1px solid;
    margin: 15px auto;
    padding: 100px;
    background-color: cornsilk;

}